body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.btn{
    height: 40px;
    width: 40px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    margin: 3px 0;
}
.btn:hover{
    border: 3px solid orangered;
}
.display{
    width: 130.4px;
    height: 40px;
    border: 1px solid black;
    border-radius: 6px;
}
.firstRow{
    display: flex;
    align-items: center;
}
.previous{
    font-size: 12px;
}
.current{
    font-size: 16px;
}